.body {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
}

.container,
.containerTwo,
.containerThree {
  width: 443px;
  margin-right: 10px;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #384aeb;
  overflow: hidden;
  width: 385px;
  /* width: 100%; */
  height: 0;
  transition: 0.5s ease;
}

.overlayTwo {
  position: absolute;
  bottom: 0;
  left: 450px;
  right: 0;
  background-color: #384aeb;
  overflow: hidden;
  width: 385px;
  /* width: 100%; */
  height: 0;
  transition: 0.5s ease;
}

.overlayThree {
  position: absolute;
  bottom: 0;
  left: 900px;
  right: 0;
  background-color: #384aeb;
  overflow: hidden;
  width: 385px;
  /* width: 100%; */
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay,
.containerTwo:hover .overlayTwo,
.containerThree:hover .overlayThree {
  height: 20%;
  width: 20%;
}

.text,
.textTwo {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
